/* logo-color-blue: #2196F3
logo-color-black: #000000
header background: #FFFFFF;
    navi black: #212121
    navi hoover: #2196F3
    phone: #757575;
    email #2196F3
main background: #F5F5F5;
footer background: #2F303A;
    address #FFFFFF 60 % */
:root {
    --primary-text-color: #212121;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --secondary-text-color: #757575;   
}
/* Reset start */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}

/* Reset end */

body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    background-color: #FFFFFF;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 47px;
    padding-bottom: 47px;
}

.advantages-section {
    padding-top: 94px;
}

.team-section {
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.button {
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

/* --LOGO-- */
.logoweb {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logoheader {
    color: var(--title-text-color);
}

.logofooter {
    color: #ffffff;
}

/* ------------------------HEADER */
.header {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em
}
.nav-item-href {
    color: var(--primary-text-color);
}
.nav-item-href:hover, 
.nav-item-href:focus {
    color: var(--accent-color);
}
.email {
    color: var(--accent-color);
}
.phone {
    color: var(--secondary-text-color);
}
/* ------------------------HERO------------------ */
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
.hero-btn {
    padding: 10px 32px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
}

/* ------------------------------MAIN */
/* ----------------INDEX--------------- */
.about-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.about-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

.secondary-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

.team-card {
    background-color: #ffffff;
    padding-bottom: 30px;
    width: 270px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img {
    margin-bottom: 30px;
}

.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16); 
    /* text-align: center; */
    letter-spacing: 0.03em;
}

.team-possition {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

/* ---------------------PORTFOLIO---------------- */

.filter-section {
    padding-top: 94px;
    margin-bottom: 50px;
}

.filter-item-button {
    min-width: 73px;
    padding: 6px 22px;
    border: 1px solid transparent;
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}

.filter-item-button:hover,
.filter-item-button:focus {
    background: var(--accent-color);
    color: #ffffff;
}

/* --Projects-- */

.projects-section {
    padding-bottom: 94px;
}

.project-item {
    width: 370px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #EEEEEE;
    padding-bottom: 20px;
}

.project-img {
    margin-bottom: 20px;
}

.project-img-link {
    display: inline-block;
}

.project-item-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project-item-filter {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

/* ----------------------------FOOTER---------------------- */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    color: rgba(255, 255, 255, 1);
}

.footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-contacts-grey {
    color: rgba(255, 255, 255, 0.6)
}

.footer-contacts:hover, 
.footer-contacts:focus {
    color: var(--accent-color);
}

.footer-contacts-grey:hover, 
.footer-contacts-grey:focus {
    color: var(--accent-color);
}
/* -------------------------- */
